<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> LOGIN</h1>
<form ACTION="/" method="post">
    <input type="text" name="username" placeholder=" Enter Username">
    <br>
    <input type="text" name="password" placeholder=" Enter password">
    <br>
    <label for="Singing_In_As">Signing in as:</label>

    <select name="Positions" id="cars">
      <option value="Student">Student</option>
      <option value="Warden">Warden</option>
      
    </select>
    <input type="submit">

</form>
</body>
</html>