<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1> SIgn Up</h1>
<form ACTION="/signup" method="post">
    <input type="text" placeholder=" Create Username">
    <br>
    <input type="text" placeholder=" Create Password">
    <br>
    <label for="Singing_In_As">Signing Up as:</label>

    <select name="Positions" id="cars">
      <option value="Student">Student</option>
      <option value="Warden">Warden</option>
      
    </select>
    <input type="submit">

</form>
</body>
</html>